{% if app.user %}
    <a href="{{ path('app_logout') }}">Выйти</a>
{% endif %}

<h1>{{ product.title }}</h1>

{% if product.image %}
    <img src="{{ product.image }}" alt="{{ product.title }}" width="300">
{% endif %}

<p><strong>Бренд:</strong> {{ product.brand }}</p>
<p><strong>Цена:</strong> {{ product.price }}</p>
<p><strong>Рейтинг:</strong> {{ product.rating_score }} / {{ product.rating_stars }} звёзд</p>

{% if product.freeShipping %}
    <p><strong>Бесплатная доставка</strong></p>
{% endif %}

{% if product.features is not empty %}
    <h3>Особенности:</h3>
    <ul>
        {% for feature in product.features %}
            <li>{{ feature }}</li>
        {% endfor %}
    </ul>
{% endif %}

<p>
    <a href="{{ product.detail_url }}" target="_blank">Comprar ahora </a>
</p>

<p>
    <a href="{{ path('product_list') }}">← Вернуться к списку продуктов</a>
</p>